<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>用户界面 - 邦多利大酒店</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
  <h2>用户界面</h2>
  <p>请选择您的操作：</p>
  <ul>
    <li><a th:href="@{/user-checkin}">入住申请</a></li>
    <li><a th:href="@{/user-service}">申请客房服务</a></li>
  </ul>
  <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
  <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>