<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>错误</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
  <h1>发生错误</h1>
  <p th:if="${errorMessage}" th:text="${errorMessage}">出现了一个错误。</p>
  <p th:if="${exception}" th:text="'错误类型: ' + ${exception}"></p>
  <p th:if="${message}" th:text="'详细信息: ' + ${message}"></p>
  <p th:if="${status}" th:text="'状态码: ' + ${status}"></p>
  <p th:if="${url}" th:text="'请求的URL: ' + ${url}"></p>
  <p><a th:href="@{/}">返回首页</a></p>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>