<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邦多利大酒店管理系统</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h1>什么酒店越住越年轻，就是Hotel Bangdream！</h1>
    <p>请选择您的操作：</p>
    <ul>
        <li><a th:href="@{/user}">用户界面</a></li>
        <li><a th:href="@{/admin}">后台管理</a></li>
    </ul>
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>